<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.canzhang.aidlservice">

    <permission
        android:name="com.permission.ZC"
        android:description="@string/app_name"
        android:label="@string/permission_label"
        android:protectionLevel="normal" />

    <application>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.AIDLService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.canzhang.aidl" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity
            android:name=".CustomPermissionTestActivity"
            android:permission="com.permission.ZC"
            android:exported="true"></activity>
    </application>

</manifest>