<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myview">

    <application>
        <activity android:name=".ChannelView.ChannelActivity" />
        <activity android:name=".test.ViewTestActivity"></activity>
    </application>

</manifest>